.note {
    margin-top: 20px;
    width: 90%;
    background-color: #232529;/*5F9EA0*/
}

.note-swipe {
    margin-left: 1000px;
    transition: .4s;
}

.note .header {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.note .status {
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.note .done {
    background-color: #3db64d;
    box-shadow: 0px 0px 10px 5px rgba(61, 182, 77, 0.4);
}

.note .await {
    background-color: #ddae2d;
    box-shadow: 0px 0px 10px 5px rgba(221, 174, 45, 0.4);
}

.note .title {
    color: #fff;
    margin-left: 20px;
    width: 80%;
    height: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.note .desc {
    padding: 15px;
    width: 100%;
    height: 150px;
    line-height: 25px;
    color: #fff;
    background-color: #1c1e22;
    word-break: break-all;
    white-space: pre-line;
    box-sizing: border-box;
    display: none;
    overflow: hidden;
    overflow-y: auto;
}

.note .desc-active {
    display: block;
}

.note .footer {
    width: 100%;
    height: 20px;
    background-color: #151616;/*518C8E*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-arrow {
    width: 15px;
    height: 15px;
    background-image: url(./icons/arrow-down.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
}

.rotate-arrow {
    transform: rotate(180deg);
}